.mode-transition {
    display: flex;
    align-items: center;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    border: 0 none;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    animation-iteration-count: infinite;    
    max-width: 60px;
    width: 70px;
    height: 43px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    .light-mode{
        position: relative;
            width: 60px;
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
        svg{
            position: absolute;
        }
    }
    .night-mode{
        position: relative;
            width: 40px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        svg{
            position: absolute;
            width: 40px;
            height: 25px;
        }
    }
}