.contact-us-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.contact-us-wrapper span {
  letter-spacing: 2px;
  display: block;
  line-height: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  text-align: center;
  color: var(--secondary-color);
}
.contact-us-wrapper h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.contact-us-wrapper .inner-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.contact-us-wrapper .inner-container .left {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  max-width: 526px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
}
.contact-us-wrapper .inner-container .left figure {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 28px;
}
.contact-us-wrapper .inner-container .left figure img {
  transition: 0.4s;
}
.contact-us-wrapper .inner-container .left figure img:hover {
  transform: scale(1.1);
}
.contact-us-wrapper .inner-container .left h4 {
  font-size: 29px;
  line-height: 44px;
  margin-bottom: 9px;
}
.contact-us-wrapper .inner-container .left p {
  opacity: 0.9;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  color: #3c3e41;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(1) {
  padding-bottom: 15px;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(2) {
  padding-bottom: 20px;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(3) {
  padding-bottom: 39px;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(3) a {
  transition: 0.4s;
  position: relative;
  font-weight: 400;
  display: block;
  text-decoration: none;
  transition: 0.4s;
  color: #3c3e41;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(3) a:hover {
  color: #8671da;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(3) a:hover::before {
  width: 100%;
}
.contact-us-wrapper .inner-container .left p:nth-of-type(3) a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #8671da;
  height: 1px;
  left: 0;
  bottom: 2px;
  transition: 0.4s;
  z-index: 10;
}
.contact-us-wrapper .inner-container .left .icons-wrapper strong {
  font-weight: 500;
  color: #1e2125;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 34px;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  color: #3c3e41;
  transition: 0.4s;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a::before {
  background: linear-gradient(145deg, #8671da, #8671da);
  content: "";
  position: absolute;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  line-height: 57px;
  opacity: 0;
  z-index: -1;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a:hover {
  transform: translateY(-5px);
  color: #fff;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a:hover::before {
  opacity: 1;
}
.contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a:hover svg {
  fill: #fff;
}
.contact-us-wrapper .inner-container .right {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  max-width: 728px;
  width: 100%;
  height: 786px;
  padding: 30px;
  border-radius: 10px;
}
.contact-us-wrapper .inner-container .right form {
  display: flex;
  flex-direction: column;
}
.contact-us-wrapper .inner-container .right form .label-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 702px;
  width: 100%;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner {
  max-width: 320px;
  width: 100%;
  margin-bottom: 20px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner label {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: left;
  display: block;
  line-height: 22px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner input {
  background-color: #fdfefe;
  border: 2px solid #dadada;
  color: var(--primary-color);
  box-shadow: none;
  background: #fdfefe;
  width: 100%;
  border-radius: 6px;
  height: 55px;
  transition: 0.4s;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 28px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner input:focus {
  border: 2px solid #8671da;
  outline: none;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner input:focus-visible {
  outline: none;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full label {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
  text-align: left;
  display: block;
  line-height: 22px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full input {
  background-color: #fdfefe;
  border: 2px solid #dadada;
  color: #3c3e41;
  box-shadow: none;
  background: #fdfefe;
  min-width: 668px;
  width: 100%;
  border-radius: 6px;
  height: 55px;
  transition: 0.4s;
  padding: 0 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 28px;
  height: 55px;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full input:focus {
  border: 2px solid #8671da;
  outline: none;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full input:focus-visible {
  outline: none;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full textarea {
  background: #fdfefe;
  border: 2px solid #dadada;
  color: #3c3e41;
  min-height: 260px;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  resize: none;
  font-weight: 400;
  height: auto;
  outline: none;
  box-shadow: none;
  min-width: 668px;
  width: 100%;
  transition: 0.4s;
}
.contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full textarea:focus {
  border: 2px solid #8671da;
  outline: none;
}
.contact-us-wrapper .inner-container .right form button {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  color: #8671da;
  transition: 0.4s;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  border: 0 none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 35px;
  list-style: none;
  text-decoration: none;
  -webkit-appearance: button;
  width: 100%;
  cursor: pointer;
}
.contact-us-wrapper .inner-container .right form button::before {
  background: linear-gradient(145deg, #8671da, #8671da);
  content: "";
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  color: #8671da;
}
.contact-us-wrapper .inner-container .right form button:hover {
  opacity: 1;
  z-index: 1;
  transform: translateY(-5px);
  background: linear-gradient(145deg, #8671da, #8671da);
  color: #fff;
}
.contact-us-wrapper::after {
  position: absolute;
  max-width: 1270px;
  height: 1px;
  background: rgba(135, 142, 153, 0.1803921569);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .contact-us-wrapper {
    padding: 80px 15px;
  }
  .contact-us-wrapper span {
    font-size: 14px;
    padding: 0px 20px 10px 20px;
    color: var(--secondary-color);
  }
  .contact-us-wrapper h3 {
    font-size: 34px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
  .contact-us-wrapper .inner-container {
    flex-direction: column;
    gap: 40px;
  }
  .contact-us-wrapper .inner-container .left {
    max-width: unset;
    width: 100%;
    padding: 50px 20px;
    border-radius: 10px;
  }
  .contact-us-wrapper .inner-container .left figure {
    overflow: hidden;
  }
  .contact-us-wrapper .inner-container .left figure img {
    width: 100%;
    height: auto;
  }
  .contact-us-wrapper .inner-container .left h4 {
    font-size: 20px;
    margin-top: 28px;
  }
  .contact-us-wrapper .inner-container .left p:nth-of-type(3) {
    padding-bottom: 39px;
  }
  .contact-us-wrapper .inner-container .left p:nth-of-type(3) a {
    transition: 0.4s;
    position: relative;
    font-weight: 400;
    display: block;
    text-decoration: none;
    transition: 0.4s;
    color: #3c3e41;
  }
  .contact-us-wrapper .inner-container .left p:nth-of-type(3) a:hover {
    color: #8671da;
  }
  .contact-us-wrapper .inner-container .left p:nth-of-type(3) a:hover::before {
    width: 100%;
  }
  .contact-us-wrapper .inner-container .left p:nth-of-type(3) a::before {
    content: "";
    position: absolute;
    width: 0%;
    background-color: #8671da;
    height: 1px;
    left: 0;
    bottom: 2px;
    transition: 0.4s;
    z-index: 10;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper strong {
    font-size: 14px;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner {
    margin-top: 24px;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span {
    padding: 0px;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: #3c3e41;
    transition: 0.4s;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a::before {
    background: linear-gradient(145deg, #8671da, #8671da);
    content: "";
    position: absolute;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
    line-height: 57px;
    opacity: 0;
    z-index: -1;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a:hover {
    transform: translateY(-5px);
    color: #fff;
  }
  .contact-us-wrapper .inner-container .left .icons-wrapper .icons-wrapper-inner span a:hover::before {
    opacity: 1;
  }
  .contact-us-wrapper .inner-container .right {
    height: auto !important;
    padding: 20px;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper {
    flex-direction: column;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner {
    margin-bottom: 15px;
    width: 100%;
    max-width: unset;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-wrapper .label-wrapper-inner input {
    min-width: 305px;
    width: 100%;
    border-radius: 6px;
    height: 55px;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full label {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full input {
    min-width: 305px;
    width: 100%;
    height: 55px;
  }
  .contact-us-wrapper .inner-container .right form .label-wrapper .label-wrapper-inner-full textarea {
    min-width: 305px;
    width: 100%;
    min-height: 204px;
    max-height: 204px;
  }
  .contact-us-wrapper .inner-container .right form button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}/*# sourceMappingURL=contact.css.map */