//For Section What I do
.what-i-do-section {
    padding: 100px 12px;
    position: relative;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
  
    .what-i-do-section-inner {
      span {
        color: #8671da;
        letter-spacing: 2px;
        display: block;
        line-height: 14px;
        font-weight: 500;
        padding-bottom: 15px;
      }
  
      h2 {
        margin: 0px;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
        padding-bottom: 50px;
      }
  
      .box-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
  
        .box {
          padding: 35px 50px 35px 50px;
          // background: linear-gradient(145deg, #e2e8ec, #ffffff);
          // box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
          box-shadow: unset;
          background: rgb(24, 24, 27);
          max-width: 401px;
          width: 100%;
          height: 336px;
          border-radius: 10px;
  
          span {
            padding: 0px;
            margin-bottom: 29px;
            .view-more-btn{
              color: rgb(248, 248, 248);
              border: none;
              cursor: pointer;
              margin: 0;
              display: inline-flex;
              outline: none;
              padding: 0.7em 0.8em;
              position: relative;
              font-size: 14px;
              background: rgba(240, 240, 240, 0);
              box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
              box-sizing: border-box;
              transition: all 0.2s ease-in-out;
              align-items: center;
              border-color: rgba(227, 227, 227, 0.18);
              border-style: solid;
              border-width: 1px;
              border-radius: 8px;
              justify-content: center;
              text-decoration: none;
              max-width: 111px;
              width: 100%;
              height: 40px;
            }

  
            // svg {
            //   width: 50px;
            //   height: auto;
            //   color: #8671da;
            //   stroke-width: 1 !important;
            // }
  
            &:last-child {
              svg {
                &:last-child {
                  visibility: hidden;
                  width: 18px;
                  height: 32px;
                  transform: rotate(180deg);
                }
              }
            }
          }
  
          h3 {
          color: #fff;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
          }
  
          p {
            font-size: 16px;
            line-height: 28px;
            color: rgb(200, 200, 200);
            margin-bottom: 30px;
            transition: 0.4s;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Limit to 4 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            span{
              .view-more-btn{
                border: none;
                cursor: pointer;
                margin: 0;
                display: inline-flex;
                outline: none;
                padding: 0.7em 0.8em;
                position: relative;
                font-size: 14px;
                background: rgba(240, 240, 240, 0);
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
                box-sizing: border-box;
                transition: all 0.2s ease-in-out;
                align-items: center;
                border-color: rgba(227, 227, 227, 0.18);
                border-style: solid;
                border-width: 1px;
                border-radius: 8px;
                justify-content: center;
              }
            }
          }
  
          // &:hover {
          //   text-decoration: none;
          //   outline: none;
          //   color: #8671da;
          // }
  
          // &:hover {
          //   cursor: pointer;
          //   background: linear-gradient(145deg, #8671da, #8671da);
          //   opacity: 1;
          //   box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
          //   transition: 0.5s all ease-in-out;
          //   transition: 0.4s;
  
          //   span {
          //     svg {
          //       color: #fff;
          //       strokeWidth: 1 !important;
          //     }
  
          //     &:last-child {
          //       fill: #fff;
          //       svg{
          //         visibility: visible;
          //       }
          //     }
          //   }
  
          //   h3 {
          //     color: #ffffff;
          //   }
  
          //   p {
          //     color: #ffffff;
          //   }
          // }
        }
      }
  
    }
  
    &::after {
      position: absolute;
      max-width: 1270px;
      height: 1px;
      background: #878e992e;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  //For Section What I do Responsiveness
  @media (max-width: 991px) {
    .what-i-do-section {
      padding: 80px 15px 80px 15px;
      position: relative;
      max-width: 1320px;
      width: 100%;
      .what-i-do-section-inner {
        span {
          color: #8671da;
          line-height: 14px;
          padding-bottom: 10px;
          text-align: center;
        }
  
        h2 {
          margin: 0px;
          font-size: 34px;
          color: #3c3e41;
          padding-bottom: 40px;
          text-align: center;
        }
  
        .box-wrapper {
          gap: 30px;
          .box {
            padding: 25px 20px 20px 20px !important;
            background: linear-gradient(145deg, #e2e8ec, #ffffff);
            box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
            height: auto;
            width: 100%;
            max-width: fit-content;
  
            span {
              padding: 0px;
              margin-bottom: 10px;
              text-align: left;
  
              svg {
                width: 50px;
                height: auto;
                color: #8671da;
                strokeWidth: 1 !important;
              }
  
              &:last-child {
                svg {
                  display: block;
                  transition: 0.4s;
                  &:last-child {
                    width: 18px;
                    height: 18px;
                    transform: rotate(180deg);
                  }
                }
              }
            }
  
            h3 {
              font-size: 24px;
              margin-bottom: 15px;
            }
  
            p {
              font-size: 16px;
              color: #3c3e41;
              margin-bottom: 22px;
            }
  
            &:hover {
              text-decoration: none;
              outline: none;
              color: #8671da;
            }
  
            &:hover {
              cursor: pointer;
              background: linear-gradient(145deg, #8671da, #8671da);
              opacity: 1;
              box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
              transition: 0.5s all ease-in-out;
              transition: 0.4s;
  
              span {
                svg {
                  color: #fff;
                  strokeWidth: 1 !important;
                }
  
                &:last-child {
                  fill: #fff;
          
                }
              }
  
              h3 {
                color: #ffffff;
              }
  
              p {
                color: #ffffff;
              }
            }
          }
        }
  
      }
  
      &::after {
        position: absolute;
        max-width: 1270px;
        height: 1px;
        background: #878e992e;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
  @media (min-width: 761px) and (max-width: 991px ) {
    .what-i-do-section .what-i-do-section-inner .box-wrapper .box{
      max-width: unset;
      width: 100%;
    }
    .intro-section{
      width: 100%;
    }
  }