figure {
  margin: 0px;
}

body {
  background-color: #ECF0F3;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  height: auto ;
  transition: background-color 0.8s ease-in-out;
}

:root {
  --primary-color: #3c3e41;
  --secondary-color: #ff014f;
  --gradient-box-w : linear-gradient(145deg, #e2e8ec, #ffffff) ;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
*{
  box-sizing: border-box;
}