figure {
  margin: 0px;
}

body {
  background-color: #090b0e;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  height: auto ;
  transition: background-color 0.8s ease-in-out;
}

:root {
  --primary-color: rgb(200, 200, 200)c3e41;
  --secondary-color: #8671da;
  --gradient-box-w : linear-gradient(145deg, #e2e8ec, #ffffff) ;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
*{
  box-sizing: border-box;
}
.visible {
  display: block;
}
 
.hidden {
  display: none;
}
.light-span{
  color: #fff !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
h1,h2,h3,h4,p,figure{
  margin: 0px;
}